/* Origine : <style id=""> (en ligne) */
html, body {
		padding: 0 !important;
		margin: 0 !important;
	}

	.text-color-change > div > p {
		color: white;
	}
	
	.white-logo, .white-icons {
		display: block;
	}
	
	.black-logo, .black-icons {
		display: none;
	}
	
	.navbar-capitello {
		z-index: 999 !important;
	}
	
	#burger-content {
		display: none;
	}
	
	#close-menu {
		display: none;
	}
	
	a:hover {
		text-decoration: underline;
		font-weight: 600;
	}
